/*
 * Copyright 2020 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@use 'Editor/brand' as *;

.popup-menu-popover {
  background-color: transparent;
  border: none;
  max-width: 560px;
}

.popup-menu-popover .popover-body {
  background-color: $editor-primary;
  border: 1px solid $editor-primary-outline;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.5);
}

.popup-menu-popover .arrow::before,
.popup-menu-popover .arrow::after {
  border-bottom-color: $editor-primary-outline !important;
}

.popup-menu-popover.tool-selector-menu-popover {
  max-width: 220px;
}

.popup-menu-popover.tool-selector-menu-popover.desktop {
  max-width: 260px;
}

.popup-menu-popover.tool-settings-menu-popover {
  max-width: 220px;
}

.popup-menu-popover.tool-settings-presets-menu-popover {
  max-width: 280px;
}

.popup-menu-popover.canvas-actions-menu-popover {
  max-width: 620px;
}

.popup-menu-popover.mobile {
  max-width: calc(100vw - 16px);
}

.popup-menu-popover.mobile .popover-body {
  width: min(480px, calc(100vw - 16px));
}

.actions-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
