/*
 * Copyright 2020 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */
/*
 * Copyright 2020 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */
a:link {
  color: #1ee29a;
}

a:hover {
  color: #19c284;
}

a {
  color: #1ee29a;
}

a:hover {
  color: #19c284;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-body {
  border-radius: 4px;
  background-color: #383434;
  margin: 0;
  position: absolute;
  z-index: 3001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito Sans";
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.mobile-menu-overlay {
  background-color: rgba(48, 48, 48, 0.95);
}

.wick-brand-arrow {
  border: solid #1ee29a;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 3px;
  margin: 4px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/
.btn-wick-warning {
  background: #e6460e;
  border: #e6460e;
  color: #000;
}

.btn-wick-warning:hover {
  background: rgb(193.9446721311, 59.0266393443, 11.8053278689);
  border: rgb(193.9446721311, 59.0266393443, 11.8053278689);
}

.btn-wick-warning:active {
  background: rgb(169.9077868852, 51.7110655738, 10.3422131148);
  border: rgb(169.9077868852, 51.7110655738, 10.3422131148);
}

.btn-wick-accept {
  background: #01c094;
  border: #01c094;
  color: #000;
}

.btn-wick-accept:hover {
  background: rgb(0.8018134715, 153.9481865285, 118.6683937824);
  border: rgb(0.8018134715, 153.9481865285, 118.6683937824);
}

.btn-wick-accept:active {
  background: rgb(0.6696891192, 128.5803108808, 99.1139896373);
  border: rgb(0.6696891192, 128.5803108808, 99.1139896373);
}

:export {
  editorCanvasBorder: #6a6a6a;
}

button:focus,
input:focus {
  outline: 2px solid #ff7867;
}

.popover.mobile .arrow {
  display: none;
  height: 0;
}

.mobile.bs-popover-bottom {
  margin-top: 2px;
  margin-left: 2px;
}

.timeline {
  background-color: #e6460e;
}

.timeline-flash-header::-webkit-scrollbar {
  height: 4px;
}

.timeline-flash-header::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 999px;
}

.timeline-flash-actions::-webkit-scrollbar {
  height: 8px;
}

.timeline-flash-actions::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 4px;
}

.timeline-flash-footer::-webkit-scrollbar {
  height: 8px;
}

.timeline-flash-footer::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 4px;
}
